@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f5f8;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-cyan-500;
}
